@media screen and  (min-width:961px) {

	.container-fluid {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}/*HEADER*/
header {
	padding-top: 70px;
}
.nav_right {
	float: right;


}
.nav li {
	display: inline-block;
	*display:inline; /* ie7 */
}

header .nav_line li {
	margin-left: 38px;
}

.slider_wraper {background-color: rgba(0,0,0,0.2);
	z-index:10;

}
.row_about {

	padding-top: 79px;
	padding-bottom: 65px;
}

.about_container {
	width: 33.3%;
	float: left;
}
.header-first {

	background: url(../img/sprites.png) no-repeat;

	background-position: -381px -324px ;
	width: 24px;
	height: 25px;
	position: absolute;
	left: 0px;
}
.header-second {

	background: url(../img/sprites.png) no-repeat;

	background-position: -397px -168px ;
	width: 23px;
	height: 25px;
	position: absolute;
	left: 0px;
}
.header-tree {

	background: url(../img/sprites.png) no-repeat;

	background-position: -454px -101px ;
	width: 27px;
	height: 23px;
	position: absolute;
	left: 0px;
}


.logo_feedback {
	padding-top: 22px;
	padding-bottom: 27px;
	padding-left: 92px;


}
.logo_img_1 {
	margin-right: 60px;
}
.logo_img_2 {
	margin-right: 60px;
}
.logo_img_3 {
	margin-right: 60px;
}
.logo_img_4 {
	margin-right: 60px;
}
.logo_img_5 {
	margin-right: 60px;
}
.test_blog {

	padding-top: 99px;
	padding-bottom: 73px;
}

.testimonials,
.blog {
	width:50%;
	float: left;
}
.testimonials_main {
	background-color: #fff;
	padding-top: 33px;
	padding-left: 35px;
	padding-bottom: 41px;
	padding-right: 41px;
	margin-bottom: 21px;
	margin-left: 29px;
	margin-right: 22px;
	position: relative;

}
.testimonials_img {
	position: absolute;
	left:-24px;
	top:17px;
}




}

