@media screen and (min-width: 480px) and (max-width: 767px) {
	.container-fluid {
	width: 767px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}
.text_hidden480 {
	display: none;
}
.news_content-960 {
	display: none;
}
header {
	padding-top: 66px;
	padding-bottom: 58px;
}
.logo {
	text-align: center;
	margin-bottom: 89px;

}
.logo_start,
.logo_end {
letter-spacing: -0.4px;
 }
.slider_wraper {
	padding-top: 98px;
	padding-bottom: 92px;
	position: relative;
	margin-bottom: 23px;
}
.slider_title {
	padding-left: 40px;
}
.slider_title_start {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	font-weight: 400;
	line-height: 24px;
	color: #fefefe;
	font-family: LeagueGothic;
	font-size: 36px;

}
.slider_title_end {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	font-weight: 400;
	line-height: 31px;
	color: #edbfff;
	font-family: LeagueGothic;
	font-size: 18px;
}
.iphone {
	position: absolute;
	width: 187px;
	height: 302px;
	top:-105px;
	right: 34px;
	background-image: url('../img/slider_iphone.png');
	-webkit-background-size: cover;
	background-size: cover;
}

.slider_play img{
	margin-top: 92px;
	padding-left: 97px;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-transform: scale(0.70);
	-ms-transform: scale(0.70);
	-o-transform: scale(0.70);
	transform: scale(0.70);
}
.point {
	padding-left: 203px;
}
.nav_menu {
	position: absolute;
	left: 50%;
	right:50%;
	top: 200px;
	transform: translate(-50%, -50%);
	width: 248px;
	height: 259px;
	margin: 0 auto;
	float: none;
	z-index: 10;
	text-align: center;

}
.nav_menu_header_first a {
	border-bottom: 1px solid #edbfff;
}
.nav_menu_header_first:hover {
	background-color: #2d2433;
	border-bottom: 1px solid #edbfff;
}

.nav_menu_drop:hover {
	background-color: #2d2433;
	border-bottom: 1px solid #edbfff;
}
.nav_menu_drop:hover a {
	border-bottom: none;
}
.nav_menu a{
	text-decoration: none;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
	color: #fff;
	font-family: LeagueGothic;
	font-size: 24px;
	font-weight: 400;
	line-height: 41px;
	text-transform: uppercase;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;

}
.nav_menu_drop {
	display: none;
}

.nav_menu:focus .nav_menu_header a{
	border-bottom: none;
}

.nav_menu:hover .nav_menu_drop {
	display: block;


}
.nav_menu:hover {
	background-color: rgba(44,35,50, 0.8);
	border: 1px solid #051116;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;

}
.nav_menu_header {
	border-top: 0;
}
.nav_menu:hover .nav_menu_drop_last {
	border-bottom: 0;
}
.slider_wraper {
	background-color: rgba(0,0,0,0.2);
	z-index:10;
}
.row_about {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 75px;
	padding-bottom: 44px;

}
.about_container {
	width: 100%;
	margin-bottom: 20px;
}
.about_container_content {
	padding-left: 68px;
}
.about_container:nth-child(2) {
	margin-bottom: 23px;
}

.about_container_img {
	float: left;
	background: url(../img/sprites.png) no-repeat;

	background-position: -381px -324px ;
	width: 24px;
	height: 25px;
	position: absolute;
	left: 0px;
	margin-left: 20px;
	margin-top: 7px;
}
.about_container_content_text {
	letter-spacing: -0.1px;
	margin-top: 2px;
	padding-left: 2px;
	padding-bottom: 14px;
}

.logo_feedback {
	padding-top: 37px;
	padding-bottom: 39px;
	padding-left: 67px;
	padding-right: 67px;

}
.logo_wraper {
	width: 33%;
	float: left;
	margin-bottom: 26px;
}
.logo_brend {
	margin: 0 auto;
	text-align: center;
	display: block;
}
/*.logo_img_1{
	margin-left: 18px;
	margin-right: 52px;
	margin-bottom: 26px;
}
.logo_img_2 {
margin-right: 54px;
margin-bottom: 26px;
}
.logo_img_3 {
	margin-bottom: 26px;
}
.logo_img_4  {
	margin-right: 58px;
}
.logo_img_5 {
	margin-right: 52px;
}*/

.test_blog {
	padding-left: 20px;
	padding-right: 18px;
	padding-top: 67px;
	padding-bottom: 86px;
}

.testimonials,
.blog {
	width: 100%;
}

.testimonials {
	margin-bottom: 50px;

}
.testimonials_main {
	background-color: #fff;
	padding-top: 34px;
	padding-left: 38px;
	padding-bottom: 32px;
	padding-right: 30px;
	margin-bottom: 26px;
	margin-left: 24px;
	position: relative;
	/*background-color: blue;*/
}
.testimonials_img {
	position: absolute;
	left:-24px;
	top:18px;
}
.testimonials_header {
	text-shadow: 0.5px 0.9px 0 white;
	font-family: LeagueGothic;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 17px;
}

.testimonials_header_start {
	color: #454545;
	display: inline-block;
}

.testimonials_header_end {
	color: #edbfff;
	display: inline-block;

}
.testimonials_nav {
	padding-left: 14px;
	text-align: center;
}

.row_news {
	padding-left: 19px;
	padding-right: 15px;
	padding-top: 79px;
	padding-bottom: 33px;
}
.news_content {
	width: 100%;
	margin-bottom: 55px;
}
.news_content-second {
	margin-bottom: 57px;
}
.news_content_header {

text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothic;
font-size: 24px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
margin-bottom: 10px;
letter-spacing: -0.1px;
}
.blogs_header {
	padding-left: 62px;
	margin-bottom: 18px;
}
.blogs_content_img {
	margin-left: 64px;
	margin-top: 2px;
	margin-right: 12px;
}

.blogs_content_header {
	letter-spacing: 0.2px;
}
.blogs_content_text {
	letter-spacing: -0.1px;
}
.blogs_first{
	margin-bottom: 17px;
}
.blogs_second {
	margin-bottom: 12px;
}
.blogs_footer {
	margin-top: 15px;
	margin-right: 39px;

}
footer {
	padding-top: 47px;
	padding-bottom: 83px;
	padding-left: 18px;

}
footer .nav {
	display: block;
	margin-bottom: 25px;
}
.nav_line li {
	float: left;
}
.footer_p {
	text-align: center;
	padding-right: 15px;
}

footer .nav_line a {
	font-size: 19px;
	letter-spacing: 0.1px;
}
footer .nav_line li {
	margin-right: 13px;
}

}