
a {
	text-decoration: none;
}
header {
	background-color: grey;
	/*background-image: url(../img/header_bg.png) ;*/
	background-position: top center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;


}
.logo_start {
	font-family: 'LeagueGothic';
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	font-size: 48px;
	font-weight: 400;
	/*line-height: 34px;*/
	text-decoration: none;
	}
.logo_end {
	font-family: 'LeagueGothic';
	color: #553c61;
	font-size: 48px;
	font-weight: 400;
	/*line-height: 38px;
	height: 38px;*/
	display: inline-block;

}


.nav ul {
	margin: 0;
	padding: 0;
}

.nav a:hover {
	border-bottom: 2px solid #edbfff;
}

.nav a{
	color: white;
	font-family: 'LeagueGothic';
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	text-transform: uppercase;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	padding: 0px 6px;
	padding-bottom: 4px;
	line-height: 100%;
}

.active  {
	border-bottom: 2px solid #edbfff;
}
.slider_title_start {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	font-weight: 400;
	line-height: 38px;
	color: #fefefe;
	font-family: LeagueGothic;
	font-size: 36px;
	letter-spacing: -0.4px;
}
.testimonials_nav,
.point {
	height: 17px;
	/*text-align: center;*/
}
.testimonials_nav {
	text-align: left;
	padding-left: 126px;

}
.testimonials_nav a {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #686370;


	margin-right: 2px;
}
.point {
	padding-left: 123px;
}
.point a {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #686370;


	margin-right: 4px;
}
.testimonials_nav .curent  {
    background-color: #acacac;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSI1MCUiIHI9IjcwLjcxMDY3ODExODY1NDc2JSI+PHN0b3Agc3RvcC1jb2xvcj0iIzVhNWE1YSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjNWE1YTVhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTEiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSI1MCUiIHI9IjcwLjcxMDY3ODExODY1NDc2JSI+PHN0b3Agc3RvcC1jb2xvcj0iIzVhNWE1YSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjNWE1YTVhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTEiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==),
        -webkit-gradient(radial, center center, 0, center center, 362,color-stop(0, rgb(90, 90, 90)),color-stop(0.5, rgb(90, 90, 90)),color-stop(0.51, rgb(255, 255, 255)),color-stop(1, rgb(255, 255, 255)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(center center, ellipse farthest-corner,rgb(90, 90, 90) 0%,rgb(90, 90, 90) 50%,rgb(255, 255, 255) 51%,rgb(255, 255, 255) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at center center,rgb(90, 90, 90) 0%,rgb(90, 90, 90) 50%,rgb(255, 255, 255) 51%,rgb(255, 255, 255) 100%);
    background-image: -ms-repeating-radial-gradient(center center, ellipse farthest-corner,rgb(90, 90, 90) 0%,rgb(90, 90, 90) 50%,rgb(255, 255, 255) 51%,rgb(255, 255, 255) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .testimonials_nav .curent {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5a5a5a",endColorstr="#ffffffff",GradientType=0);
    }
}


.point .current {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;

	background-color: #989d98;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSI1MCUiIHI9IjcwLjcxMDY3ODExODY1NDc2JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZWNlY2VjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzQyNGM0MiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTEiLz48c3RvcCBzdG9wLWNvbG9yPSIjNDI0YzQyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSI1MCUiIHI9IjcwLjcxMDY3ODExODY1NDc2JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZWNlY2VjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzQyNGM0MiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNTEiLz48c3RvcCBzdG9wLWNvbG9yPSIjNDI0YzQyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==),
        -webkit-gradient(radial, center center, 0, center center, 362,color-stop(0, rgb(236, 236, 236)),color-stop(0.5, rgb(236, 236, 236)),color-stop(0.51, rgb(66, 76, 66)),color-stop(1, rgb(66, 76, 66)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(center center, ellipse farthest-corner,rgb(236, 236, 236) 0%,rgb(236, 236, 236) 50%,rgb(66, 76, 66) 51%,rgb(66, 76, 66) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at center center,rgb(236, 236, 236) 0%,rgb(236, 236, 236) 50%,rgb(66, 76, 66) 51%,rgb(66, 76, 66) 100%);
    background-image: -ms-repeating-radial-gradient(center center, ellipse farthest-corner,rgb(236, 236, 236) 0%,rgb(236, 236, 236) 50%,rgb(66, 76, 66) 51%,rgb(66, 76, 66) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .point.current {
        filter: progid:DXImageTransform.Microsoft.current(startColorstr="#ffececec",endColorstr="#ff424c42",GradientType=0);
    }
}

}

}
.last {
	margin-right: 0;
}
.about_wraper {
	border-top: 1px solid #34273b;
	border-bottom: 1px solid #21333b;
	background-color: #644770;
	/* IE10+ */
background-image: -ms-linear-gradient(top, #755284 0%, #43324B 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #755284 0%, #43324B 100%);

/* Opera */
background-image: -o-linear-gradient(top, #755284 0%, #43324B 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #755284), color-stop(100, #43324B));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #755284 0%, #43324B 100%);

/* W3C Markup */
background-image: linear-gradient(to bottom, #755284 0%, #43324B 100%);
	/* Градиент для Internet Explorer 7-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#755284', endColorstr='#43324B', GradientType=0);
}

/*.about_container_img {
	width: 60px;
	display: inline-block;
}*/
.about_container_content {
	position: relative;
	display: inline-block;
	padding-left: 66px;

}
.about_container_content_header{
	text-shadow: 0.5px 0.9px 0 #0f1518;
	color: white;
	font-family: LeagueGothic;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.2px;
	padding-bottom: 2px;

}
.about_container_content_text {
	text-shadow: 0.5px 0.9px 0 #0f1518;
	color: white;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	padding-bottom: 14px;
	padding-right: 24px;
	/*letter-spacing: -0.3px;*/
}
.about_container_content_footer {
	text-align: right;
}
.about_container_content_footer a {
	text-shadow: 0.5px 0.9px 0 #0f1518;
	color: white;
	font-family: LeagueGothic;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: right;
	padding-right: 10px;
}
.about_container_content_text {
	hyphens: auto;
	-ms-word-break: break-all;
	word-break: break-all;
}

.feedback {
	/*background-color: #f9f9f9;*/
	background-color: #808000;
}
.logo_feedback {
	border-top: 1px solid #fefefe;
	padding-top: 50px;
	padding-bottom: 74px;

}
.logo_brend {
	float: left;
	vertical-align: middle;
	text-align: center;
}
.test_blog {
	border-bottom: 1px solid #e6e6e6;
}
.testimonials_header {
	text-shadow: 0.5px 0.9px 0 white;
	font-family: LeagueGothic;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.testimonials_conteny_text {

text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: 'Open Sans';
font-size: 16px;
font-weight: 300;
line-height: 24px;
word-break: break-all;
}
.blogs_header  {

text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothic;
font-size: 30px;
font-weight: 400;
line-height: 24px;
}
.blogs_content_img,
.blog_container {
	display: inline-block;
	vertical-align: top;
}
.blogs_content_img {
	border-radius: 50%;
}
.blog_container {

color: #454545;
font-family: 'Open Sans';
font-size: 16px;
line-height: 24px;
}
.blogs_content_header {
	font-weight: 700;
	letter-spacing: 0.1px;
}
.blogs_content_text {
	font-weight: 300;
	letter-spacing: -0.17px;
	line-height: 20px;
}
.blogs_footer a {
	color: #454545;
}
.blogs_footer {


color: #454545;
font-family: LeagueGothic;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: right;
}
.news_wraper {
	background-color: #ececec;
}
.news_content_text {
text-shadow: 0.5px 0.9px 0 white;
color: #787878;
font-family: 'Open Sans';
font-size: 16px;
font-weight: 300;
line-height: 24px;
}






footer {
	background-image: url(../img/footer_bg.png);
	-webkit-background-size: cover;
	background-size: cover;

}
.footer_start {
  font-size: 12px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 2.81;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);

}
.footer_end {


color: white;
font-family: 'Open Sans';
font-size: 12px;
line-height: 34px;
font-weight: 700;
}






