@media screen  and (min-width: 960px) {
.container-fluid {
	min-width: 960px;
	max-width: 100%;
	margin: 0 auto;
}/*HEADER*/
header {
	padding-top: 70px;
	padding-bottom: 55px;
}
.logo {
	float: left;
}
.nav_right {
	float: right;


}
.nav li {
	display: inline-block;
	*display:inline; /* ie7 */
}

header .nav_line li {
	margin-left: 38px;
}


.slider_wraper {
	background-color: rgba(0,0,0,0.2);
	z-index:10;
	margin-top: 170px;
	height: 400px;
	padding-top: 83px;
	margin-bottom: 93px;
	padding-bottom: 82px;
	position: relative;
}


.slider_title {
	/*padding-left: 40px;*/
}


.slider_title_start {
	color: #fefefe;
	font-family: LeagueGothic;
	font-size: 60px;
	font-weight: 400;
	line-height: 36px;

}
.slider_title_end {
	color: #edbfff;
	font-family: LeagueGothic;
	font-size: 32px;
	font-weight: 400;
	line-height: 36px;
}
.slider_text {

	color: white;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	width: 503px;
}
.iphone_wraper {
	position: relative;
}
.iphone {
	position: absolute;
	width: 267px;
	height: 415px;
	top:-350px;
	right: 50px;
	background-image: url('../img/slider_iphone.png');

}
.slider_play img{
	margin-top: 144px;
	padding-left: 128px;
}


.row_about {

	padding-top: 79px;
	padding-bottom: 65px;
}

.about_container {
	width: 33.3%;
	float: left;
}
.header-first {

	background: url(../img/sprites.png) no-repeat;

	background-position: -381px -324px ;
	width: 24px;
	height: 25px;
	position: absolute;
	left: 0px;
}
.header-second {

	background: url(../img/sprites.png) no-repeat;

	background-position: -397px -168px ;
	width: 23px;
	height: 25px;
	position: absolute;
	left: 0px;
}
.header-tree {

	background: url(../img/sprites.png) no-repeat;

	background-position: -454px -101px ;
	width: 27px;
	height: 23px;
	position: absolute;
	left: 0px;
}

.logo_feedback {
	padding-top: 22px;
	padding-bottom: 27px;
	padding-left: 92px;


}
.logo_img_1 {
	margin-right: 60px;
}
.logo_img_2 {
	margin-right: 60px;
}
.logo_img_3 {
	margin-right: 60px;
}
.logo_img_4 {
	margin-right: 60px;
}
.logo_img_5 {
	margin-right: 60px;
}
.test_blog {

	padding-top: 99px;
	padding-bottom: 73px;
}

.testimonials,
.blog {
	width:50%;
	float: left;
}
.testimonials_main {
	background-color: #fff;
	padding-top: 33px;
	padding-left: 35px;
	padding-bottom: 41px;
	padding-right: 41px;
	margin-bottom: 21px;
	margin-left: 29px;
	margin-right: 22px;
	position: relative;

}
.testimonials_img {
	position: absolute;
	left:-24px;
	top:17px;
}
.testimonials_header {
	text-shadow: 0.5px 0.9px 0 white;
	font-family: LeagueGothic;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.testimonials_header_start {
	color: #454545;
	display: inline-block;
}

.testimonials_header_end {
	color: #edbfff;
	display: inline-block;

}
.blog {
	padding-right: 15px;
}
.row_news {

	padding-top: 90px;
	padding-bottom: 100px;
}
.news_content {
	width: 29%;
	float: left;
}
.text_hidden960,
.news_content_last {
	display: none;
}
.news_content-960 {
	margin-right: 57px;
}
.news_content-first {
	margin-right: 57px;
}
.news_content_header {

text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothic;
font-size: 30px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
}


/*FOOTER*/
footer {
	padding-top: 46px;
	padding-bottom: 49px;

}
footer .nav {
	float: left;;
	margin-bottom: 37px;
}
.nav li {
	float: left;
}
.footer_p {
	float: right;
}
}