@media screen and (max-width: 959px) and (min-width: 768px) {
.container-fluid {
	width: 959px;
	max-width: 100%;
	margin: 0 auto;

}/*HEADER*/
header {
	padding-top: 67px;
	padding-bottom: 100px;

}
.text_hidden768 {
	display: none;
}
header .nav {
	position: absolute;
	/*left: -160px;*/
	top: 142px;
	left:15px;
	display: block;

}
header .nav li {
	display: inline-block;
	margin-right: 40px;
	*display:inline; /* ie7 */
}
.logo	{
	margin-bottom: 130px;
	padding-left: 20px;
}
.slider_wraper {
	background-color: rgba(0,0,0,0.2);
	z-index:10;


}
.slider_wraper {
	padding-top: 103px;
	padding-bottom: 110px;
	position: relative;
	margin-bottom: 37px;
}
.slider_title {
	padding-left: 45px;
}
.slider_title_start {
	color: #fefefe;
	font-family: LeagueGothic;
	font-size: 48px;
	font-weight: 400;
	line-height: 36px;

}
.slider_title_end {
	color: #edbfff;
	font-family: LeagueGothic;
	font-size: 24px;
	font-weight: 400;
	line-height: 48px;
}
.slider_text {
	margin-left: 45px;
	margin-top: -2px;
	color: white;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	width: 290px;
}
.iphone {
	position: absolute;
	width: 267px;
	height: 415px;
	top:-25px;
	right: 50px;
	background-image: url('../img/slider_iphone.png');

}
.slider_play img{
	margin-top: 150px;
	padding-left: 135px;
}
.point {
	text-align: right;
	padding-right: 135px;
}
.row_about {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 76px;
	padding-bottom: 64px;
}

.about_container {
	width: 33.3%;
	float: left;
}
.header-first {
	margin-left: 20px;
}
.about_container_img {
	margin-top: 5px;
	float: left;
	background: url(../img/sprites.png) no-repeat;

	background-position: -381px -324px ;
	width: 24px;
	height: 25px;
	position: absolute;
	left: 0px;
}
.about_container_content_header-second {
	margin-left: 75px;
}
.header-second {
	margin-left: 25px;
}
.about_container_content_header-first {
	margin-left: 68px;
}
.about_container_content_text-first {
	margin-left: 68px;
	padding-bottom: 7px;
}
.about_container_content_text-second {
	margin-left: 75px;
	padding-bottom: 7px;
}
.about_container_content_footer-first {
	margin-right: 20px;
}
.about_container_content_footer-second {
	margin-right: 13px;
}
.about_container_content_header-tree {
	margin-left: 90px;
}
.about_container_content_text-tree {
	margin-left: 90px;
	padding-right: 0;
	padding-bottom: 6px;
}
.header-tree  {
	margin-left: 43px;
}



.test_blog {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 100px;
	padding-bottom: 73px;
}

.testimonials,
.blog {
	width:50%;
	float: left;
}
.testimonials_main {
	background-color: #fff;
	padding-top: 29px;
	padding-left: 44px;
	padding-bottom: 46px;
	padding-right: 24px;
	margin-bottom: 20px;
	margin-left: 24px;
	margin-right: 26px;
	position: relative;

}
.testimonials_img {
	position: absolute;
	left:-20px;
	top:17px;
}
.testimonials_header {
	text-shadow: 0.5px 0.9px 0 white;
	font-family: LeagueGothic;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.testimonials_header_start {
	color: #454545;
}

.testimonials_header_end {
	color: #edbfff;

}
.testimonials_conteny_text {
	margin-top: 8px;
}
.testimonials_nav {
	text-align: center;
}
.blog {
	padding-top: 32px;
	padding-left: 32px;
}
.blogs_header {
	margin-bottom: 18px;
}
.blogs_content_img {
	margin-right: 12px;
}
.blogs_content {
	margin-bottom: 18px;
}
.blogs_footer {
	margin-top: -5px;
	padding-right: 10px;
	letter-spacing: -0.2px;
}

.logo_feedback {
	padding-left: 23px;
	padding-top: 25px;
	padding-bottom: 29px;
}

.logo_img_2 {
	margin-left: 55px;
}
.logo_img_3 {
	margin-left: 53px;
}
.logo_img_4 {
	margin-left: 65px;
}
.logo_img_5 {
	margin-left: 60px;
	margin-right: 50px;
}


.row_news {

	padding-top: 101px;
	padding-bottom: 94px;
}
.news_content {
	width: 29.5%;
	float: left;
}
.news_content-first {
	padding-left: 22px;
	margin-right: 35px;
}
.news_content-second {
	margin-right: 41px;
	padding-left: 25px;
}
.news_content_last {
	padding-left: 20px;
}
.news_content_header {

text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothic;
font-size: 24px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
margin-bottom: 10px;
}
.news_content_text {
text-shadow: 0.5px 0.9px 0 white;
color: #787878;
font-family: 'Open Sans';
font-size: 16px;
font-weight: 300;
line-height: 24px;
}


footer {
	padding-top: 47px;
	padding-bottom: 83px;
	padding-left: 15px;
	padding-right: 13px;
}
footer .nav {
	display: block;
	margin-bottom: 26px;
}
.nav li {
	float: left;
}
footer .nav_line a {
	font-size: 19px;
	letter-spacing: 0.1px;
}
footer .nav_line li {
	margin-right: 32px;
}
.footer_p {
	text-align: right;
	margin-right: 8px;
}

}