@media screen   and (max-width: 479px) {
	.container-fluid {
	width: 479px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}
header {
	padding-top: 66px;
	padding-bottom: 68px;
}
.logo h1 {
	text-align: center;
	letter-spacing: -1.0px;
}

.nav_menu {
	position: absolute;
	left: 50%;
	right:50%;
	top: 200px;
	transform: translate(-50%, -50%);
	width: 248px;
	height: 259px;
	margin: 0 auto;
	float: none;
	z-index: 10;
	text-align: center;

}
.nav_menu_header_first a {
	border-bottom: 1px solid #edbfff;
}
.nav_menu_header_first:hover {
	background-color: #2d2433;
	border-bottom: 1px solid #edbfff;
}

.nav_menu_drop:hover {
	background-color: #2d2433;
	border-bottom: 1px solid #edbfff;
}
.nav_menu a{
	text-decoration: none;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
	color: #fff;
	font-family: LeagueGothic;
	font-size: 24px;
	font-weight: 400;
	line-height: 41px;
	text-transform: uppercase;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;

}
.nav_menu_drop {
	display: none;
}

.nav_menu:focus .nav_menu_header a{
	border-bottom: none;
}

.nav_menu:hover .nav_menu_drop {
	display: block;


}
.nav_menu:hover {
	background-color: rgba(44,35,50, 0.8);
	border: 1px solid #051116;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;

}
.nav_menu_header {
	border-top: 0;
}
.nav_menu:hover .nav_menu_drop_last {
	border-bottom: 0;
}
.slider {
	margin-top: 183px;
}
.slider_wraper h2 {
	padding-left: 65px;
	margin-bottom: 80px;
}
.slider_title_end {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	font-weight: 400;
	color: #edbfff;
	font-family: LeagueGothic;
	font-size: 18px;
	letter-spacing: -0.2px;
}
.text_hidden320,
.slider_text,
.iphone_hidden,
.text_hidden768,
.news_wraper {
	display: none;
}

.row_about {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 68px;
	padding-bottom: 39px;

}

.about_container {
	width: 100%;
	margin-bottom: 21px;
}
.about_container:nth-child(2) {
	margin-bottom: 37px;
}
.about_container_img {
	float: left;
	background: url(../img/sprites.png) no-repeat;

	background-position: -381px -324px ;
	width: 24px;
	height: 25px;
	position: absolute;
	left: 0px;
}
.test_blog {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 67px;
	padding-bottom: 88px;
}

.testimonials,
.blog {
	width: 100%;
}
.testimonials {
	margin-bottom: 50px;

}
.testimonials_main {
	background-color: #fff;
	padding-top: 25px;
	padding-left: 35px;
	padding-bottom: 32px;
	padding-right: 39px;
	margin-bottom: 22px;
	margin-left: 24px;
	position: relative;
}
.testimonials_img {
	position: absolute;
	left:-24px;
	top:17px;
}
.testimonials_header {
	text-shadow: 0.5px 0.9px 0 white;
	font-family: LeagueGothic;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.testimonials_header_start {
	color: #454545;
}

.testimonials_header_end {
	color: #edbfff;

}
.blogs_first{
	margin-bottom: 16px;
}
.blogs_second {
	margin-bottom: 25px;
}












.logo_feedback {
	padding-top: 50px;
	padding-bottom: 88px;
	padding-left: 15px;
	padding-right: 15px;

}


.logo_img_1,
.logo_img_2 {
	margin-bottom: 60px;
}
.logo_img_3,
.logo_img_4 {
	margin-bottom: 42px;
}
.logo_img_1 {
	margin-left: 22px;
	margin-right: 55px;
}
.logo_img_3 {
	margin-left: 30px;
margin-right: 57px;
}
.logo_img_5 {
	margin-right: 48px;
}

footer {
	padding-top: 43px;
	padding-bottom: 149px;
	text-align: center;
}
.nav_line {
	display: none;
}

}


